* {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body {
    background-color: #ecf0f1;
}

h1 {
    color: #95a5a6;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #2c3e50;
}

a:hover {
    text-decoration: underline;
}

#background {
    position: absolute;
    left: 0;
    top: 0;
}

.content {
    position: absolute;
    margin-top: 50px;
    width: 70%;
    margin-left: 15%;
}

.author {
    color: #252525;
    font-weight: 400;
}

.blocks {
    margin-top: 20px;
    display: flex;
    display: -webkit-flex;     /* NEW - Chrome */
    -webkit-justify-content: flex-start;
    -webkit-flex-wrap: wrap;
}

.block {
    width: 300px;
    height: 190px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;

    background-color: rgba(255,255,255, 0.4);
    border: 1px solid #bdc3c7;
    border-bottom: 2px solid #bdc3c7;
}

.block > .block-overlay {
    font-weight: 400;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    top: 0;
    left: 0;
    z-index: 2;
}

.block > .block-overlay:hover {
    background-color: rgba(255,255,255,0.0);
}

.block > img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.block > .block-overlay > p {
    color: #fff;
    padding: 10px;
    text-shadow: 1px 1px rgba(0,0,0,0.98);
}
























